# =======================================================
# Plantilla de Variables de Entorno (Ejemplo para el Repo)
# Copia este archivo como .env y ajusta los valores necesarios
# =======================================================

# Puerto HTTP público del balanceador
PORT=80

# Usuario y grupo del sistema bajo el que corre la aplicación
APP_USER=balancer
APP_GROUP=balancer

# Backends internos gRPC, accesibles por nombre dentro de la red Docker
OLD_BACKEND_URL=http://app-python:9001
NEW_BACKEND_URL=http://app-java:9002
